.intro {
    background-color: #11343a;
    height: 100vh;
    min-height: 568px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    .intro-wrapper {
        background-color: #122a2f;
        width: 100%;
        min-height: 370px;
        padding: 50px 0;
        margin-top: 100px;
        @media screen and (max-height: 610px) {
            @extend %intro-indent;
        }
        @media screen and (max-width: 539px) {
            @extend %intro-indent;
        }
        .col-wrapper {
            text-align: center;
            h1 {
                color: white;
                font-size: 65px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 45px;
                @media screen and (max-width: 539px) {
                    font-size: 45px;
                    margin-bottom: 20px;
                }
            }
            .btn-buy {
                text-transform: uppercase;
            }
        }
    } 
    .btn-down {
        width: 60px;
        height: 60px;

        padding: 0;
        bottom: 0;
        right: calc(50% - 30px);
    }
}